body{
    background-image: url(../img/Horizon.jpg);
    object-fit: fill;
    color: aliceblue;
}
#navllamada{
    background-color: transparent;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif

}
#titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    color: honeydew;

}
#foto{
    max-height: 130px;
    max-width: 130px;
}
footer{
    background-color:transparent;
}
footer a{
    color: whitesmoke;
}
p{
    padding: 10px;
    border: 3px solid green;
    border-radius: 8px;
    background-color: rgba(78, 78, 78, 0.562);
    font-size: larger;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
h1{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}