body{
    background-image: url(../img/Horizon.jpg);
    object-fit: fill;
    color: aliceblue;
}
#navllamada{
    background-color: transparent;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif

}
#titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    color: honeydew;

}
#foto{
    max-height: 130px;
    max-width: 130px;
}
footer{
    background-color:transparent;
}
footer a{
    color: whitesmoke;
}
p{
    padding: 10px;
    border: 3px solid green;
    border-radius: 8px;
    background-color: rgba(78, 78, 78, 0.562);
    font-size: larger;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
h1{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
*{
    padding: 0px;   
    margin: 0px;
    font-family: sans-serif;
}
.container1{
    padding: 0px;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 156, 0, 0.89);
    border: 8px dashed black;

}
#player{
    background-color: rgb(65, 0, 131);
    border: 4px dashed black;
    width: 50px;
    height: 50px;
    border-radius: 29px;
    position: absolute;
    transition: all 0.3s;

}
.puntero{
    background-color: gray;
    height: 50px;
    margin-top: 30px;
    border-bottom: 0px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px 0px;

}